[/script/shootergame.shootergamemode]
BabyCuddleIntervalMultiplier={{ .BabyCuddleIntervalMultiplier }}
BabyCuddleLoseImprintQualitySpeedMultiplier={{ .BabyCuddleLoseImprintQualitySpeedMultiplier }}
BabyCuddleGracePeriodMultiplier={{ .BabyCuddleGracePeriodMultiplier }}
BabyImprintingStatScaleMultiplier={{ .BabyImprintingStatScaleMultiplier }}
BabyImprintAmountMultiplier={{ .BabyImprintAmountMultiplier }}
BabyFoodConsumptionSpeedMultiplier={{ .BabyFoodConsumptionSpeedMultiplier }}
MatingIntervalMultiplier={{ .MatingIntervalMultiplier }}
EggHatchSpeedMultiplier={{ .EggHatchSpeedMultiplier }}
BabyMatureSpeedMultiplier={{ .BabyMatureSpeedMultiplier }}
